+b('section').tickets.section#tickets
	.container
		+section-title({
			mode: 'is-border',
			text: 'Buy tickets',
		})

		+e.__inner
			+e.__pic
				+lazy-img({pic: 'ticket-pic-1.jpg'})
			+e.__calc
				+e.__box.--ticket
					+e.__box-title Ticket Type
					+e.__box-content
						+radio('id1', 'name', 'Permanent exhibition', true)
						+radio('id2', 'name', 'Temporary exhibition')
						+radio('id3', 'name', 'Combined Admission')
				+e.__box.--amount
					+e.__box-title Amount
					#app-calc-one
						.conte-list
							+b.conte-elem
								+e.__title Basic 18+
								+b.pc-counter
									input.pc-counter-input.js_pc-counter-input(
										class='js_counter-basic'
										type='number'
										value= '0'
										min='0'
										max='20'
										name= 'basic'
										aria-label='Enter quantity'
										readonly
									)
									button.pc-counter-btn.pc-counter-minus.js_pc-counter-minus(type='button') -
									button.pc-counter-btn.pc-counter-plus.js_pc-counter-plus(type='button') +
							+b.conte-elem
								+e.__title Senior 65+
								+b.pc-counter
									input.pc-counter-input.js_pc-counter-input(
										class='js_counter-senior'
										type='number'
										value= '0'
										min='0'
										max='20'
										name= 'senior'
										aria-label='Enter quantity'
										readonly
									)
									button.pc-counter-btn.pc-counter-minus.js_pc-counter-minus(type='button') -
									button.pc-counter-btn.pc-counter-plus.js_pc-counter-plus(type='button') +
						+e.__result
							+e.__result-text Total €#[span.js_result-num 0]
					+e.__action
						button.btn-black.js_open-booking Buy Now
