mixin pc-counter(data = {})

	- var id = Math.floor(Math.random() * 9999999999)

	+b.pc-counter(
		class= data.mod ? data.mod : false
	)
		input.pc-counter-input.js_pc-counter-input(
			type='number'
			value= data.value || '1'
			min= data.min || 1
			max= data.max || 20
			data-suffix= data.unit || ''
			name= 'NAME' + id
			aria-label='Enter quantity'
			readonly
		)
		button.pc-counter-btn.pc-counter-minus.js_pc-counter-minus(type='button') -
		button.pc-counter-btn.pc-counter-plus.js_pc-counter-plus(type='button') +
